<ion-view title="ACCOUNT" id="page10">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">DOB</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-select">
                <span class="input-label">Gender</span>
                <select>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </label>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true">Make Profile Public</ion-toggle>
        </form>
        <a ui-sref="nIDO.tHISISME" id="aCCOUNT-button35" style="font-weight:;" class="button button-positive  button-block">SAVE CHANGES</a>
    </ion-content>
</ion-view>