
<ion-view title="Timeline" id="page19" class="page-newsfeed">
    <ion-content padding="false" class="has-header">
        <div class="list card" ng-repeat="p in t = angular.equals(t, showPhotos()) ? t : showPhotos()"">

          <div class="item item-avatar">
            <img ng-src="{{getUserPhoto()}}">
            <h2 style="font-weight:500;">{{user.firstName}}</h2>
            <p>{{p.created | date:'MMMM dd, yyyy h:mma'}}</p>
          </div>

          <div class="item item-body">
            <img class="full-image" ng-click="gotoPhoto({{p.id}})" ng-src="{{p.data}}">
            <p class="item-caption">
             {{p.caption}}
            </p>
            <p class="item-social">
              <a href="#" class="subdued"><i class="icon ion-thumbsup"></i> 0 Like</a>
              <a href="#" class="subdued pull-right"><i class="icon ion-ios-folder"></i> Sneaker Tag</a>
            </p>
          </div>
        </div>

    </ion-content>
</ion-view>