
<ion-view title="News Feed" id="page19" class="page-newsfeed">
    <ion-content padding="false" class="has-header">
        <div class="list card">

          <div class="item item-avatar">
            <img src="img/profile_image.jpg">
            <h2>Marty McFly</h2>
            <p>November 05, 1955</p>
          </div>

          <div class="item item-body">
            <img class="full-image" src="img/newsfeed-sneakers.png">
            <p class="item-caption">
              Here's the caption to my photo. We'll probably make this a character limit, 140 characters.
            </p>
            <p class="item-social">
              <a href="#" class="subdued"><i class="icon ion-thumbsup"></i> 1 Like</a>
              <a href="#" class="subdued"><i class="icon ion-ios-chatbubble"></i> 5 Comments</a>
              <a href="#" class="subdued pull-right"><i class="icon ion-ios-folder"></i> Sneaker Tag</a>
            </p>
          </div>

        </div>

        <div class="list card">
          <div class="item item-avatar">
            <img src="img/profile_image.jpg">
            <h2>Marty McFly</h2>
            <p>November 05, 1955</p>
          </div>

          <div class="item item-body">
            <img class="full-image" src="img/newsfeed-meal.png">
            <p class="item-caption">
              Here's the caption to my photo. We'll probably make this a character limit, 140 characters.
            </p>
            <p class="item-social">
              <a href="#" class="subdued"><i class="icon ion-thumbsup"></i> 1 Like</a>
              <a href="#" class="subdued"><i class="icon ion-ios-chatbubble"></i> 5 Comments</a>
              <a href="#" class="subdued pull-right"><i class="icon ion-ios-folder"></i> Meal</a>
            </p>
          </div>
        </div>

        <div class="list card">
          <div class="item item-avatar">
            <img src="img/profile_image.jpg">
            <h2>Tito Jackson</h2>
            <p>November 05, 1955</p>
          </div>

          <div class="item item-body">
            <img class="full-image" src="img/newsfeed-run.png">
            <p class="item-caption">
              Here's the caption to my photo. We'll probably make this a character limit, 140 characters.
            </p>
            <p class="item-social">
              <a href="#" class="subdued"><i class="icon ion-thumbsup"></i> 11 Like</a>
              <a href="#" class="subdued"><i class="icon ion-ios-chatbubble"></i> 2 Comments</a>
              <a href="#" class="subdued pull-right"><i class="icon ion-ios-folder"></i> Motivation</a>
            </p>
          </div>
        </div>

    </ion-content>
</ion-view>