<ion-view title="" id="page19" class="page-newsfeed" hide-back-button="true">
    <ion-content padding="false" class="has-header has-tabs">
        <div class="list card" ng-repeat="p in user.photos">

          <div class="item item-avatar">
            <img ui-sref="nido.profile({ id: p.user })" ng-src="{{user.usersFollowed[p.user].photo}}">
            <h2  ui-sref="nido.profile({ id: p.user })" style="font-weight:500;">{{user.usersFollowed[p.user].firstName|lowercase}}</h2>
            <p>{{p.created | date:'MMMM dd, yyyy h:mma'}}</p>
          </div>

          <div class="item item-body">
            <img class="full-image" ng-click="gotoPhoto({{p.id}})" ng-src="{{p.data}}">
            <div class="item-interact row">
              <div class="col-50">
                <button class="icon ion-happy-outline button  button-light" ng-click="toggleLike(p.id, $index)" ng-show="photosWithLikes[p.id].liked!=true"></button>
                <button class="icon ion-happy button  button-light" ng-click="toggleLike(p.id, $index)" ng-show="photosWithLikes[p.id].liked==true"></button>
                <!--<button class="icon ion-ios-chatboxes-outline button  button-light"></button>-->
                <button class="button button-light icon ion-edit" ng-click="gotoPhoto({{p.id}})" ng-show="{{p.user == user.id}}"></button>
              </div>
              <div class="col-50">
                <p class="item-social">
                  <a href="#" class="subdued" ng-show="photosWithLikes[p.id].likeCounter>0"><i class="icon ion-happy"></i> 

                    {{photosWithLikes[p.id].likeCounter}} Likes</a>
                  <a href="#" class="subdued pull-right" ng-show="p.category!=null"><i class="icon ion-ios-folder"></i> &nbsp; {{showCategory(p.category)}}</a>
                </p>
              </div>
            </div>
            <p class="item-caption" ng-show="{{p.caption!=null}}">
             <strong ui-sref="nido.profile({ id: p.user })">{{p.firstName}}</strong> {{p.caption}}
            </p>
          </div>
        </div>
    </ion-content>
    <ion-tabs class="tabs-positive tabs-icon-only">

      <ion-tab title="" icon="ion-ios-filing" ng-click="go('nido.messages')">
        <!-- Tab 1 content -->
      </ion-tab>

      <ion-tab title="" icon="ion-camera" ng-click="go('addpost')">
        <!-- Tab 2 content -->
      </ion-tab>

      <ion-tab title="" icon="ion-ios-gear" ng-click="go('nido.account')">
        <!-- Tab 3 content -->
      </ion-tab>

    </ion-tabs>

    <!-- 
    <div class="bar bar-footer bar-positive" ui-sref="addpost">
      <div class="title" style="margin: 0 auto;"><i class="icon light ion-camera" style="font-size: 30px;"></i></div>
    </div>
    -->
</ion-view>