<ion-view title="ADD BUDDY" id="page13">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <a ui-sref="nIDO.bUDDIES" id="aDDBUDDY-button38" class="button button-positive  button-block">1</a>
            <a ui-sref="nIDO.bUDDIES" id="aDDBUDDY-button39" class="button button-positive  button-block">2</a>
            <a ui-sref="nIDO.bUDDIES" id="aDDBUDDY-button40" class="button button-positive  button-block">3</a>
        </div>
        <div class="button-bar">
            <a ui-sref="nIDO.bUDDIES" id="aDDBUDDY-button41" class="button button-positive  button-block">1</a>
            <a ui-sref="nIDO.bUDDIES" id="aDDBUDDY-button42" class="button button-positive  button-block">2</a>
            <a ui-sref="nIDO.bUDDIES" id="aDDBUDDY-button43" class="button button-positive  button-block">3</a>
        </div>
        <a ui-sref="nIDO.bUDDIES" id="aDDBUDDY-button44" class="button button-positive  button-block">Add Buddy</a>
    </ion-content>
</ion-view>