<ion-view title="Add Buddy" id="page13">
    <ion-content padding="true" class="has-header">
        <div class="button-bar">
            <a ui-sref="nido.buddies" id="addBuddy-button38" class="button button-positive  button-block">1</a>
            <a ui-sref="nido.buddies" id="addBuddy-button39" class="button button-positive  button-block">2</a>
            <a ui-sref="nido.buddies" id="addBuddy-button40" class="button button-positive  button-block">3</a>
        </div>
        <div class="button-bar">
            <a ui-sref="nido.buddies" id="addBuddy-button41" class="button button-positive  button-block">1</a>
            <a ui-sref="nido.buddies" id="addBuddy-button42" class="button button-positive  button-block">2</a>
            <a ui-sref="nido.buddies" id="addBuddy-button43" class="button button-positive  button-block">3</a>
        </div>
        <a ui-sref="nido.buddies" id="addBuddy-button44" class="button button-positive  button-block">Add Buddy</a>
    </ion-content>
</ion-view>