<ion-view title="Share Post" id="upload-post" class="page-uploadphoto page-upload-post">
    <ion-content padding="false" class="has-header">
      <div class="list card">

        <div class="item">
          <div class="upload-input">
              <span class="button icon button-full button-dark ion-image">&nbsp; Choose Photo </span>
              <input id="post-fileInput" type="file" class="input-file" />
          </div>
        </div>

        <form class="item item-body">
          <div class="cropArea">
            <img-crop image="post.originalImage" area-type="square" area-min-size="200" result-image-size="400" result-image="post.croppedImage" result-image-format="image/png" result-image-quality="0.8" change-on-fly="true" maximize-crop="true" result-image-aspect="1x1"></img-crop>
          </div>
          <div class="list">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Description / Caption</span>
              <input type="text" value="{{post.caption}}" ng-model="post.caption" placeholder="Tell us about your photo.">
            </label>

            <label class="item item-input item-stacked-label">
              <span class="input-label">Category</span>
              <select ng-model="post.category">
                <option value="0">None Selected</option>
                <option value="1">Meal</option>
                <option value="2">Sneaker</option>
                <option value="3">Motivation</option>
              </select>
            </label>
          </div>

          <p class="photo-options">
            <a ng-click="save()" class="button button-positive">Submit</a>
            <a ui-sref="nido.activityFeed" class="button button-dark">Cancel</a>

          </p>
        </form>

      </div>

    </ion-content>
</ion-view>