<ion-view title="A Team - Challenge" id="page18">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1 id="aTeamChallenge-heading5" style="color:#000000;">A Team</h1>
        <div id="aTeamChallenge-markdown8" style="color:#000000;">
            <p>Information about this challenge, it's description, placeholder text.</p>
        </div>
        <ion-list>
            <ion-item class="item-divider">Challenge Buddies</ion-item>
        </ion-list>
        <div class="button-bar">
            <a ui-sref="nIDO.bUDDYSPROFILE" id="aTeamChallenge-button31" class="button button-positive  button-block">Buddy</a>
            <a ui-sref="nIDO.bUDDYSPROFILE" id="aTeamChallenge-button50" class="button button-positive  button-block">Buddy</a>
            <a ui-sref="nIDO.bUDDYSPROFILE" id="aTeamChallenge-button51" class="button button-positive  button-block">Buddy</a>
        </div>
        <div class="button-bar">
            <a ui-sref="nIDO.bUDDYSPROFILE" id="aTeamChallenge-button55" class="button button-positive  button-block">Buddy</a>
            <a ui-sref="nIDO.bUDDYSPROFILE" id="aTeamChallenge-button56" class="button button-positive  button-block">Buddy</a>
            <a ui-sref="nIDO.bUDDYSPROFILE" id="aTeamChallenge-button57" class="button button-positive  button-block">Buddy</a>
        </div>
        <div class="button-bar">
            <a ui-sref="nIDO.bUDDYSPROFILE" id="aTeamChallenge-button58" class="button button-positive  button-block">Buddy</a>
            <a ui-sref="nIDO.bUDDYSPROFILE" id="aTeamChallenge-button59" class="button button-positive  button-block">Buddy</a>
            <a ui-sref="nIDO.bUDDYSPROFILE" id="aTeamChallenge-button60" class="button button-positive  button-block">Buddy</a>
        </div>
        <div class="button-bar"></div>
        <form class="list">
            <ion-checkbox>Winner</ion-checkbox>
            <a ui-sref="nIDO.newMessage" id="aTeamChallenge-button61" class="button button-positive  button-block">Send Message to Participants</a>
        </form>
    </ion-content>
</ion-view>