<ion-view title="Find People" id="page7" class="page-buddies">
    <ion-content padding="true" class="has-header">
        <div class="button-bar">
          <a class="button button-stable icon ion-ios-personadd" ui-sref="nido.following({ id: user.id })">&nbsp; Following</a>
          <a class="button button-stable icon ion-ios-people" ui-sref="nido.followers({ id: user.id })">&nbsp; Followers</a>
        </div>
        <hr class="separator"/>

        <div class="list list-inset">
          <label class="item item-input input-search">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search by Full Name, Username or Email" ng-model="search">
          </label>
        </div>
        <ion-list ng-show="(filteredData = (users | toArray | filter:search)) && filteredData.length >= 0 && search && search.length >= 0">

            <div class="row item" ng-repeat="u in users | toArray | filter:search">
                <div class="col item-avatar">
                    <img ng-src="{{u.photo || '/img/avatar.png'}}" ui-sref="nido.profile({ id: u.id })">
                </div>
                <div class="col user-details">
                    <h2 ui-sref="nido.profile({ id: u.id })">{{u.firstName}}</h2>
                    <p>{{u.location}}</p>
                </div>
                <div class="col"></div>
                <div class="col">
                    <!--
                    <button class="button button-small button-light {{followClass}}" ng-click="inviteBuddy(u.id, $index)" ng-model="followStatus">
                        <span>{{showFollowStatus(u.id)}}</span>
                    </button>
                    -->
                    <button class="button button-small button-light {{followClass}}"  ui-sref="nido.profile({ id: u.id })" ng-model="followStatus">
                        <span>Profile</span>
                    </button>
                </div>
            </div>
        </ion-list>

        <!--<a ui-sref="nido.addBuddy" id="buddies-button32" style="font-weight:bolder;font-size:30px;" class="button button-positive  button-block">+</a>-->

        <button class="button button-full button-light icon ion-eye" ng-click="showRecentlyJoined()">
          &nbsp; View Recently Joined Members
        </button>

        <!--
        <div class="card">
          <div class="item item-text-wrap buddies-active">
            <h2>Recently Joined NIDO</h2>
            <div class="buddy-container">
                <div class="everybody-container" style="display:block;" ng-repeat="u in users">
                    <img ng-src="{{u.photo || '/img/avatar.png'}}" class="everybody-image" ui-sref="nido.profile({ id: u.id })">
                    <div class="everybody-username" ui-sref="nido.profile({ id: u.id })">{{u.firstName}}</div>
                </div>
            </div>
          </div>
        </div>
        -->

    </ion-content>

</ion-view>

<script id="recentlyjoined.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title"></h1>
        <button class="button button-clear button-primary" ng-click="close()">Cancel</button>
      </ion-header-bar>
      <ion-content class="padding" style="margin-top: -10px;">
        <div class="card">
          <div class="item item-text-wrap buddies-active">
            <h2>Recently Joined NIDO</h2>
            <div class="buddy-container">
                <div class="everybody-container" style="display:block;" ng-repeat="u in users">
                    <img ng-src="{{u.photo || '/img/avatar.png'}}" class="everybody-image" ui-sref="nido.profile({ id: u.id })">
                    <div class="everybody-username" ui-sref="nido.profile({ id: u.id })">{{u.firstName}}</div>
                </div>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>
