<ion-view title="People" id="page7" class="page-buddies">
    <ion-content padding="true" class="has-header">
        <div class="list list-inset">
          <label class="item item-input input-search">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search by Full Name, Username or Email" ng-model="search">
          </label>
        </div>
        <ion-list ng-show="(filteredData = (users | toArray | filter:search)) && filteredData.length >= 0 && search && search.length >= 0">

            <div class="row item" ng-repeat="u in users | toArray | filter:search">
              <div class="col item-avatar">
                <img ng-src="{{u.photo || '/img/avatar.png'}}" ui-sref="nido.profile({ id: u.id })">
            </div>
              <div class="col user-details">
                <h2 ui-sref="nido.profile({ id: u.id })">{{u.firstName}}</h2>
                <p>{{u.location}}</p>
              </div>
              <div class="col"></div>
              <div class="col">
                <!--
                <button class="button button-small button-light {{followClass}}" ng-click="inviteBuddy(u.id, $index)" ng-model="followStatus">
                    <span>{{showFollowStatus(u.id)}}</span>
                </button>
                -->
                <button class="button button-small button-light {{followClass}}"  ui-sref="nido.profile({ id: u.id })" ng-model="followStatus">
                    <span>Profile</span>
                </button>
              </div>
            </div>
        </ion-list>

        <!--<a ui-sref="nido.addBuddy" id="buddies-button32" style="font-weight:bolder;font-size:30px;" class="button button-positive  button-block">+</a>-->


        <hr class="separator"/>
        <div class="card">
          <div class="item item-text-wrap buddies-active">
            <h2>Following</h2>
            <div class="buddy-container">
                <div class="item item-avatar" style="display:block;" ng-repeat="f in followers">
                    <img ui-sref="nido.profile({ id: f.id })" ng-src="{{f.photo || '/img/avatar.png'}}">
                    <div class="profile-username" ui-sref="nido.profile({ id: f.id })">{{f.firstName}}</div>
                </div>
            </div>
          </div>
        </div>


    </ion-content>

    <div class="bar bar-footer bar-positive">
        <div class="list">
            <span>New to NIDO? Invite your friends by email. </span>
            <div class="item item-input-inset">
                <label class="item-input-wrapper ion-email icon style="color:#000;">
                  <input type="text" placeholder="&nbsp;Email">
                </label>
                <button class="button button-small">
                  Send
                </button>
            </div>
        </div>
    </div>

</ion-view>

