<ion-view title="BUDDIES" id="page7">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="nIDO.bUDDYSPROFILE">
                <img>
                <h2>Charlotte Rivera</h2>
                <p>Pending Request</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="nIDO.bUDDYSPROFILE">
                <img>
                <h2>Michael Jackson</h2>
                <p>Pending Request</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="nIDO.bUDDYSPROFILE">
                <img>
                <h2>Alex Pinata</h2>
                <p>since 2 years ago...</p>
            </ion-item>
        </ion-list>
        <a ui-sref="nIDO.aDDBUDDY" id="bUDDIES-button32" style="font-weight:bolder;font-size:30px;" class="button button-positive  button-block">+</a>
    </ion-content>
</ion-view>