<ion-view title="BUDDY'S PROFILE" id="page12">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="button-bar">
            <button id="bUDDYSPROFILE-button7" style="font-weight:;" class="button button-positive button-large button-block">3</button>
            <button id="bUDDYSPROFILE-button8" style="font-weight:;" class="button button-positive  button-block">11</button>
            <button id="bUDDYSPROFILE-button9" style="font-weight:;" class="button button-positive  button-block">88</button>
        </div>
        <div class="button-bar"></div>
        <ion-list></ion-list>
        <div class="spacer" style="width: 285px; height: 21px;"></div>
        <div class="list card">
            <div class="item item-body">
                <div class="button-bar">
                    <button id="bUDDYSPROFILE-button13" style="font-weight:;" class="button button-positive  button-block">photo</button>
                    <button id="bUDDYSPROFILE-button14" style="font-weight:;" class="button button-positive  button-block">photo</button>
                    <button id="bUDDYSPROFILE-button15" style="font-weight:;" class="button button-positive  button-block">photo</button>
                </div>
                <div class="button-bar">
                    <button id="bUDDYSPROFILE-button16" style="font-weight:;" class="button button-positive  button-block">photo</button>
                    <button id="bUDDYSPROFILE-button17" style="font-weight:;" class="button button-positive  button-block">photo</button>
                    <button id="bUDDYSPROFILE-button18" style="font-weight:;" class="button button-positive  button-block">photo</button>
                </div>
                <div class="button-bar">
                    <button id="bUDDYSPROFILE-button19" style="font-weight:;" class="button button-positive  button-block">photo</button>
                    <button id="bUDDYSPROFILE-button20" style="font-weight:;" class="button button-positive  button-block">photo</button>
                    <button id="bUDDYSPROFILE-button21" style="font-weight:;" class="button button-positive  button-block">photo</button>
                </div>
                <div class="button-bar">
                    <button id="bUDDYSPROFILE-button22" style="font-weight:;" class="button button-positive  button-block">photo</button>
                    <button id="bUDDYSPROFILE-button36" style="font-weight:;" class="button button-positive  button-block">photo</button>
                    <button id="bUDDYSPROFILE-button37" style="font-weight:;" class="button button-positive  button-block">photo</button>
                </div>
                <div class="button-bar"></div>
            </div>
        </div>
    </ion-content>
</ion-view>