<ion-view title="Challenges" id="page8">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item ui-sref="nido.challengeGroup">A Team</ion-item>
            <ion-item ui-sref="nido.challengeGroup">Dream Team</ion-item>
            <ion-item ui-sref="nido.challengeGroup">Gym Client Team</ion-item>
            <ion-item ui-sref="nido.challengeGroup">#WRUNCREW</ion-item>
            <ion-item ui-sref="nido.challengeGroup">Master Mind Group</ion-item>
        </ion-list>
        <a ui-sref="nido.createNewChallenge" id="challenges-button33" style="font-weight:;" class="button button-positive  button-block">CREATE NEW CHALLENGE</a>
    </ion-content>
</ion-view>