<ion-view title="CHALLENGES" id="page8">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item ui-sref="nIDO.aTeamChallenge">A Team</ion-item>
            <ion-item ui-sref="nIDO.aTeamChallenge">Dream Team</ion-item>
            <ion-item ui-sref="nIDO.aTeamChallenge">Gym Client Team</ion-item>
            <ion-item ui-sref="nIDO.aTeamChallenge">#WRUNCREW</ion-item>
            <ion-item ui-sref="nIDO.aTeamChallenge">Master Mind Group</ion-item>
        </ion-list>
        <a ui-sref="nIDO.cREATENEWCHALLENGE" id="cHALLENGES-button33" style="font-weight:;" class="button button-positive  button-block">CREATE NEW CHALLENGE</a>
    </ion-content>
</ion-view>