<ion-view title="Challenge Group" id="page18">
    <ion-content padding="true" class="has-header">
        <h1 id="challengeGroup-heading5" style="color:#000000;">A Team</h1>
        <div id="challengeGroup-markdown8" style="color:#000000;">
            <p>Information about this challenge, it's description, placeholder text.</p>
        </div>
        <ion-list>
            <ion-item class="item-divider">Challenge Buddies</ion-item>
        </ion-list>
        <div class="button-bar">
            <a ui-sref="nido.buddyProfile" id="challengeGroup-button31" class="button button-positive  button-block">Buddy</a>
            <a ui-sref="nido.buddyProfile" id="challengeGroup-button50" class="button button-positive  button-block">Buddy</a>
            <a ui-sref="nido.buddyProfile" id="challengeGroup-button51" class="button button-positive  button-block">Buddy</a>
        </div>
        <div class="button-bar">
            <a ui-sref="nido.buddyProfile" id="challengeGroup-button55" class="button button-positive  button-block">Buddy</a>
            <a ui-sref="nido.buddyProfile" id="challengeGroup-button56" class="button button-positive  button-block">Buddy</a>
            <a ui-sref="nido.buddyProfile" id="challengeGroup-button57" class="button button-positive  button-block">Buddy</a>
        </div>
        <div class="button-bar">
            <a ui-sref="nido.buddyProfile" id="challengeGroup-button58" class="button button-positive  button-block">Buddy</a>
            <a ui-sref="nido.buddyProfile" id="challengeGroup-button59" class="button button-positive  button-block">Buddy</a>
            <a ui-sref="nido.buddyProfile" id="challengeGroup-button60" class="button button-positive  button-block">Buddy</a>
        </div>
        <div class="button-bar"></div>
        <form class="list">
            <ion-checkbox>Winner</ion-checkbox>
            <a ui-sref="nido.newMessage" id="challengeGroup-button61" class="button button-positive  button-block">Send Message to Participants</a>
        </form>
    </ion-content>
</ion-view>