<ion-view title="Create New Challenge" id="page17" class="page-challenge page-challenge-title">
    <ion-content padding="true" class="has-header">

          <label class="item item-input item-floating-label">
            <span class="input-label">What is the title of your challenge?</span>
            <input type="text" ng-model="challenge.title" value="{{challenge.title}}" placeholder="What is the title of your challenge?">
          </label>

        <a ui-sref="" id="createNewChallenge-button29" class="button button-positive  button-block">Next</a>
    </ion-content>
</ion-view>