<ion-view title="" id="page-home" class="page-home">
    <ion-content padding="false" style="background: url(img/splash-3.png) no-repeat center;background-size:cover;" class=" manual-remove-top-padding has-header" scroll="false">
        <div class="login-buttons">
			<div class="button-bar">
			  <a ui-sref="login" class="button button-light icon-left ion-ios-person-outline">LOGIN</a>
			  <a ui-sref="signup" class="button button-stable icon-right ion-ios-upload-outline">SIGNUP </a>
			</div>


        </div>
    </ion-content>
</ion-view>