<ion-view title="" id="page4" class="page-login">
    <ion-content padding="true" class="has-header">
        <form  ng-submit="login.signin()" class="list" >
            <img src="img/logo-white.png" class="logo-login center"/>
            <!--
            <div class="button-bar">
                <button class="button button-positive icon-left ion-social-facebook" ng-click="login.socialSignin('facebook')" type="button">
                    Login with Facebook
                </button>
            </div>-->

            <div class="list list-inset">
              <label class="item item-input login-field">
                <i class="icon ion-email placeholder-icon"></i>
                <input id="email" name="email" type="email" class="" placeholder="Email" ng-model="login.email">
              </label>
              <label class="item item-input login-field">
                <i class="icon ion-android-lock placeholder-icon"></i>
                <input id="password" name="password" type="password" class="" placeholder="Password" ng-model="login.password">
              </label>
            </div>

            <div class="login-error" ng-bind-html="login.error"></div>
            <button class="button button-block button-outline" type="submit">
                Log In
            </button>

            <div class="spacer" style="height: 20px;"></div>
            <span class="forgot-password">Forgot your password?</span>
            <div class="spacer" style="height: 20px;"></div>
            <!--<a ui-sref="nido.activityFeed" id="login-button1" style="font-weight:;" class="button button-stable  button-block">LOGIN</a>-->
            <a ui-sref="signup" href="#" id="login-button2" style="font-weight:;" class="button button-dark  button-block ">First time? Sign up for an account.</a>
        </form>
    </ion-content>
</ion-view>