<ion-side-menus enable-menu-with-back-views="false" data-ng-init="init()">
    <ion-side-menu-content edge-drag-threshold="true"
  drag-content="true">
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-icon button-small icon ion-arrow-left-b light" style="color:#FFF;font-size:14px;">&#xA0; </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <a ui-sref="addpost" class="icon-add-item icon light ion-plus-circled"></a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu width="{{.9 * devWidth}}" side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="menu-close ion-close-circled light"></div>
            <div class="profile-header">
                <img ng-src="{{getPhoto()}}" class="profile-image"/>
                <div class="profile-title">
                    <div class="profile-name">{{user.firstName}}</div>
                    <div class="profile-location">New York, New York</div>
                </div>
            </div>
        </ion-header-bar>
        <ion-content padding="false" scroll="false" class="side-menu-left has-header">
            <ion-list>
                <ion-item ui-sref="nido.activityFeed" ui-sref-active="active" class="button" menu-close="">
                    <div class="item-icon-left">
                        <i class="icon ion-compass"></i>
                        <p>TIMELINE</p>
                    </div>
                </ion-item>
                <ion-item ui-sref="nido.profile({ id: user.id })" ui-sref-opts="{reload: true, notify: true}" ui-sref-active="active" class="button" menu-close="">
                    <div class="item-icon-left">
                        <i class="icon ion-person"></i>
                        <p>PROFILE</p>
                    </div>
                </ion-item>
                <ion-item ui-sref="nido.buddies" ui-sref-active="active" class="button" menu-close="">
                    <div class="item-icon-left">
                        <i class="icon ion-person-stalker"></i>
                        <p>PEOPLE</p>
                    </div>
                </ion-item>
                <ion-item ui-sref="nido.challenges" ui-sref-active="active" class="button" menu-close="">
                    <div class="item-icon-left">
                        <i class="icon ion-arrow-graph-up-right"></i>
                        <p>CHALLENGES</p>
                         <span class="badge badge-positive">{{activeChallenges}}</span>
                    </div>
                </ion-item>
                
                <ion-item ui-sref="nido.messages" ui-sref-active="active" class="button" menu-close="">
                    <div class="item-icon-left">
                        <i class="icon ion-chatbubbles"></i>
                        <p>MESSAGES <!--<span class="badge badge-light">0</span>--></p>
                        
                    </div>
                </ion-item>
            
                <ion-item ui-sref="nido.account" ui-sref-active="active" class="button" menu-close="">
                    <div class="item-icon-left">
                        <i class="icon ion-android-settings"></i>
                        <p>SETTINGS</p>
                    </div>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus> 