<ion-view title="Messages" id="page9" class="page-messages" data-ng-init="init()">
    <ion-content padding="true" class="has-header has-footer">

        <div id="no-messages" class="list card" ng-show="conversations==null">
            <div class="item">
                <p>You have no messages. Invite your friends. <i class="icon ion-happy-outline"></i> </p>
            </div>
        </div>

        <div class="list card" ng-repeat="c in conversations">
            <div class="item item-avatar"  ui-sref="nido.readMessage({ id: c.conversation_id })">
                <img ng-src="{{c.profile_photo =! '' && c.profile_photo || 'img/avatar.png'}}">
                <h2><a ui-sref="nido.readMessage({ id: c.conversation_id })">{{c.screenname}}</a> <span class="message-date">{{c.last_updated | date:'MMMM dd, yyyy h:mma'}}</span></h2>
                <p>"{{c.lastReply}}"</p>
            </div>
        </div>

    </ion-content>

    <div class="bar bar-footer bar-positive" ui-sref="nido.newMessage">
      <div class="title" style="margin: 0 auto;"><i class="icon light ion-plus-round" style="font-size: 30px;"></i></div>
    </div>

</ion-view>