<ion-view title="Messages" id="page9">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-body">
                <h5 id="messages-heading1" style="color:#000000;">Alex Quebec</h5>
                <div id="messages-markdown1" style="color:#000000;">
                    <p>Hi Jenny. I just checked out the app for the first time and I have to say it's absolutely amazing...</p>
                </div>
                <a ui-sref="nido.readMessage" id="messages-button49" class="button button-positive  button-block">Read Message</a>
            </div>
        </div>
        <div class="list card">
            <div class="item item-body">
                <h5 id="messages-heading2" style="color:#000000;">Alex Quebec</h5>
                <div id="messages-markdown2" style="color:#000000;">
                    <p>Hi Jenny. I just checked out the app for the first time and I have to say it's absolutely amazing...</p>
                </div>
            </div>
        </div>
        <a ui-sref="nido.newMessage" id="messages-button34" style="font-weight:;" class="button button-positive  button-block">+ New Message</a>
    </ion-content>
</ion-view>