<ion-view title="MESSAGES" id="page9">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-body">
                <h5 id="mESSAGES-heading1" style="color:#000000;">Alex Quebec</h5>
                <div id="mESSAGES-markdown1" style="color:#000000;">
                    <p>Hi Jenny. I just checked out the app for the first time and I have to say it's absolutely amazing...</p>
                </div>
                <a ui-sref="nIDO.readMessage" id="mESSAGES-button49" class="button button-positive  button-block">Read Message</a>
            </div>
        </div>
        <div class="list card">
            <div class="item item-body">
                <h5 id="mESSAGES-heading2" style="color:#000000;">Alex Quebec</h5>
                <div id="mESSAGES-markdown2" style="color:#000000;">
                    <p>Hi Jenny. I just checked out the app for the first time and I have to say it's absolutely amazing...</p>
                </div>
            </div>
        </div>
        <a ui-sref="nIDO.newMessage" id="mESSAGES-button34" style="font-weight:;" class="button button-positive  button-block">+ New Message</a>
    </ion-content>
</ion-view>