<ion-view title="Photo" id="page16" class="page-myphoto">
    <ion-content padding="false" class="has-header">
      <form>
        <img ng-src="{{photo.data}}" class="myphoto-detail"/>

        <div class="edit-post-icons row {{captionClass}}">
          <i class="col-50 post-caption">{{photo.caption}}</i>
          <i class="{{isAllowedEdit}} icon ion-edit col-50 pull-right" ng-click="editPost()"></i>
        </div>

        <div class="bar bar-footer item-input-inset {{editClass}}">
          <label class="item-input-wrapper">
            <i class="icon ion-edit placeholder-icon"></i>
            <input type="text" placeholder="Photo Caption" value="{{photo.caption}}" ng-model="photo.caption" >
          </label>
          <button class="button button-positive" ng-click="savePost()">
            SAVE
          </button>
        </div>

      </form>
    </ion-content>
</ion-view>