<ion-view title="Photo" id="page16" class="page-myphoto">
    <ion-content padding="false" class="has-header">
        <img ng-src="{{photo.data}}" class="myphoto-detail"/>
        <div class="myphoto-caption">
            {{photo.caption}}
        </div>
        <div class="myphoto-options">
            <div class="button-bar">
              <a class="button button-dark">Edit</a>
              <a class="button button-assertive">Delete</a>
              <a class="button button-stable" ng-click="$back()">Go Back</a>
            </div>
        </div>
    </ion-content>
</ion-view>