<ion-view title="New Message" id="page14">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">To:</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Subject:</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Message</span>
                <input type="text" placeholder="Write here.">
            </label>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true">Get notification of replies.</ion-toggle>
            <a ui-sref="nido.messages" id="newMessage-button45" class="button button-positive  button-block">Send Message</a>
        </form>
    </ion-content>
</ion-view>