<ion-view title="" id="page6" class="no-title page-profile">
    <ion-content padding="false" class="">
        <div class="profile-header">
            <img data-ng-src="{{user.photo}}" class="profile-image"/>
            <div class="profile-title">
                <div class="profile-name">Mario Starks</div>
                <div class="profile-location">New York, New York</div>
            </div>
        </div>
        <div class="button-bar">
            <a ui-sref="nido.challenges" id="profile-button4" class="button button-challenges button-block">
                <div class="button-count">3</div>
                <div class="button-label">Challenges</div>
            </a>
            <a ui-sref="nido.buddies" id="profile-button5" class="button button-following  button-block">
                <div class="button-count">11</div>
                <div class="button-label">Following</div>
            </a>
            <a ui-sref="nido.buddies" id="profile-button6" class="button button-followers  button-block">
                <div class="button-count">88</div>
                <div class="button-label">Followers</div>
            </a>
        </div>
        <div class="list card">
            <div class="item item-body">
                <div class="button-bar">
                    <a ui-sref="nido.myPhoto" id="profile-button10" style="font-weight:;" class="button button-positive  button-block item-photo">photo</a>
                    <a ui-sref="nido.myPhoto" id="profile-button11" style="font-weight:;" class="button button-positive  button-block item-photo">photo</a>
                    <a ui-sref="nido.myPhoto" id="profile-button12" style="font-weight:;" class="button button-positive  button-block item-photo">photo</a>
                </div>
                <div class="button-bar">
                    <a ui-sref="nido.myPhoto" id="profile-button23" style="font-weight:;" class="button button-positive  button-block item-photo">photo</a>
                    <a ui-sref="nido.myPhoto" id="profile-button24" style="font-weight:;" class="button button-positive  button-block item-photo">photo</a>
                    <a ui-sref="nido.myPhoto" id="profile-button25" style="font-weight:;" class="button button-positive  button-block item-photo">photo</a>
                </div>
                <div class="button-bar">
                    <a ui-sref="nido.myPhoto" id="profile-button26" style="font-weight:;" class="button button-positive  button-block item-photo">photo</a>
                    <a ui-sref="nido.myPhoto" id="profile-button27" style="font-weight:;" class="button button-positive  button-block item-photo">photo</a>
                    <a ui-sref="nido.myPhoto" id="profile-button28" style="font-weight:;" class="button button-positive  button-block item-photo">photo</a>
                </div>
                <div class="button-bar"></div>
                <div class="button-bar"></div>
            </div>
        </div>
    </ion-content>
</ion-view>