<ion-view title="Read Message" id="page15">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1 id="readMessage-heading4" style="color:#000000;">Alex Trabec</h1>
        <div id="readMessage-markdown6" style="color:#000000;">
            <p>And here's where the text of the message will go. This is just a placeholder. This just just a placeholder. Of text. Because we need a placeholder. Of text. And here's where the text of the message will go. This is just a placeholder. This
                just just a placeholder. Of text. Because we need a placeholder. Of text. And here's where the text of the message will go. This is just a placeholder. This just just a placeholder. Of text. Because we need a placeholder. Of text. And
                here's where the text of the message will go. This is just a placeholder. This just just a placeholder. Of text. Because we need a placeholder. Of text. And here's where the text of the message will go. This is just a placeholder. This
                just just a placeholder. Of text. Because we need a placeholder. Of text.</p>
        </div>
        <div class="button-bar">
            <a ui-sref="nIDO.mESSAGES" id="readMessage-button46" class="button button-positive  button-block">reply</a>
            <a ui-sref="nIDO.mESSAGES" id="readMessage-button47" class="button button-positive  button-block">delete</a>
            <a ui-sref="nIDO.mESSAGES" id="readMessage-button48" class="button button-positive  button-block">report</a>
        </div>
    </ion-content>
</ion-view>