<ion-view title="THIS IS ME" id="page6">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="button-bar">
            <a ui-sref="nIDO.cHALLENGES" id="tHISISME-button4" style="font-weight:;" class="button button-positive button-large button-block">3</a>
            <a ui-sref="nIDO.bUDDIES" id="tHISISME-button5" style="font-weight:;" class="button button-positive  button-block">11</a>
            <a ui-sref="nIDO.bUDDIES" id="tHISISME-button6" style="font-weight:;" class="button button-positive  button-block">88</a>
        </div>
        <div class="button-bar"></div>
        <ion-list></ion-list>
        <div class="spacer" style="width: 285px; height: 21px;"></div>
        <div class="list card">
            <div class="item item-body">
                <div class="button-bar">
                    <a ui-sref="nIDO.myPhoto" id="tHISISME-button10" style="font-weight:;" class="button button-positive  button-block">photo</a>
                    <a ui-sref="nIDO.myPhoto" id="tHISISME-button11" style="font-weight:;" class="button button-positive  button-block">photo</a>
                    <a ui-sref="nIDO.myPhoto" id="tHISISME-button12" style="font-weight:;" class="button button-positive  button-block">photo</a>
                </div>
                <div class="button-bar">
                    <a ui-sref="nIDO.myPhoto" id="tHISISME-button23" style="font-weight:;" class="button button-positive  button-block">photo</a>
                    <a ui-sref="nIDO.myPhoto" id="tHISISME-button24" style="font-weight:;" class="button button-positive  button-block">photo</a>
                    <a ui-sref="nIDO.myPhoto" id="tHISISME-button25" style="font-weight:;" class="button button-positive  button-block">photo</a>
                </div>
                <div class="button-bar">
                    <a ui-sref="nIDO.myPhoto" id="tHISISME-button26" style="font-weight:;" class="button button-positive  button-block">photo</a>
                    <a ui-sref="nIDO.myPhoto" id="tHISISME-button27" style="font-weight:;" class="button button-positive  button-block">photo</a>
                    <a ui-sref="nIDO.myPhoto" id="tHISISME-button28" style="font-weight:;" class="button button-positive  button-block">photo</a>
                </div>
                <div class="button-bar"></div>
                <div class="button-bar"></div>
            </div>
        </div>
    </ion-content>
</ion-view>