<ion-view title="Profile Photo" id="upload-photo" class="page-uploadphoto">
    <ion-content padding="false" class="has-header">
      <div class="list card">

        <div class="item">
          <div class="upload-input">
              <span class="button icon button-full button-dark ion-image">&nbsp; Choose Photo </span>
              <input id="fileInput" type="file" class="input-file" />
          </div>
        </div>

        <div class="item item-body">
            <div class="cropArea">
              <img-crop image="image.originalImage" area-type="square" area-min-size="200" result-image-size="200" result-image="image.croppedImage" result-image-format="image/png" result-image-quality="0.8" change-on-fly="true" maximize-crop="true" result-image-aspect="1x1"></img-crop>
            </div>
          <p>
            <div>Preview Photo:</div>
            <div><img class="uploadphoto-preview" ng-src="{{image.croppedImage}}" /></div>
          </p>
          <p class="photo-options">
            <a class="button button-positive" ng-click="savePhoto()">Save Photo</a>
            <a ui-sref="nido.account" class="button button-dark">Skip</a>
          </p>
        </div>

      </div>

    </ion-content>
</ion-view>